body{
    font-family: OpenSans, sans-serif;
    background: #F2F2F2;
}
div{
    background: #FFFFFF;
}
.first-block{
    margin-left: 105px;
    margin-right: 105px;
    margin-top:80px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 35px;
}
.textAlign{
    text-align: center;
}
.textAlign__first-header{
    font-stretch: ultra-expanded;
    font-size: 46px;
    padding-top: 124px;
}
.textAlign__second-header{
    font-size: 35px;
    margin-top: 37px;
}
.form{
    margin: 85px auto;
    height: 420px;
    width: 596px;
}
.form__place-intro{
    margin: 60px 50px;
    font-weight: bold;
}
.form__header{
    font-size: 25px;
}
.inputForName{
    height: 20px;
}
input[type="text"]{
    height: 34px;
    font-size: 16px;
    padding-left: 10px;
}
.inputIsText{
    margin-top: 44px;
}
.name{
    width: 200px;
    float: left;
}
.name:nth-child(2n){
    float: right;
    margin: 0px;
}
.contact-password{
    width: 100%;
    margin-top: 30px;
    box-sizing: border-box;
}
.buttonReg{
    margin-top: 30px;
    height: 35px;
    width: 120px;
    background-color: #19A0FC;
    border-radius: 5px;
    border: none;
    color: #D6FFFF;
    font-size: 16px;
}
@font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;

}
.second-block{
    height: 340px;
    margin: 40px 105px 0px 105px;
}
.second-block__text{
    float: left;
    width: 60%;
    margin-top: 120px;
    margin-left: 80px;
    font-size: 35px;

}
.second-block__text:nth-child(2n){
    margin-top: 0px;
}
.second-block__float-text{
    width: 100%;
    float: left;
}
.second-block__button-join{
    margin: 150px 0px 0px 150px;
}
.third-block{
    height: 340px;
    margin: 40px 105px 40px 105px;
}
.third-block__float-text{
    width: 100%;
    float: left;
}
.third-block__text{
    float: left;
    width: 60%;
    margin-top: 120px;
    margin-left: 80px;
    font-size: 35px;
}
.third-block__text:nth-child(2n){
    margin-top: 0px;
}
.third-block__button-join{
    margin: 140px 40px 0px 20px;
}
.second-block__button-join, .third-block__button-join{
    height: 50px;
    width: 185px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: #19A0FC;
    color: #D6FFFF;
}
.third-block__button-contact{
    height: 50px;
    width: 185px;
    border: 1px solid #19A0FC;
    font-size: 18px;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #19A0FC;
}
